<div class="map_div">
    <capacitor-google-maps #map></capacitor-google-maps>
    
</div>
<div>

</div>
<div class="begin_label">
    <label for="dropdwn">Select Category</label>
    
</div>
<select id="dropdwn" name="cars" class="begin_select">
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="fiat">Fiat</option>
    <option value="audi">Audi</option>
  </select>

  <div class="begin_label">
    <label for="subdropdwn">Select Sub Category</label>
    
</div>
<select id="subdropdwn" name="cars" class="begin_select">
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="fiat">Fiat</option>
    <option value="audi">Audi</option>
  </select>
<div class="begin_label">
    <label for="descarea">Enter Description</label>

</div>
<textarea name="desc" id="descarea" cols="30" rows="10"></textarea>
<div class="begin_buttons">
    <div class="coc_button_div">
        <button class="button-33" role="button" style="width: 150px; height: 40px;">Back</button>
    </div>
    <div class="coc_button_div">
        <button class="button-33" role="button" style="width: 150px; height: 40px;">Next</button>
    </div>
</div>

<button (click)="takePicture()"> take picture</button>

