<div class="coc_home">
    
    <div class="coc_image_div">
        <img [src]="imageSrc" [alt]="imageAlt" style="width: 210px;"/>

    </div>
    <div class="coc_title">City Of Cuttack</div>
    <div class="coc_button_div">
        <button class="button-33" role="button" (click)="onBegin()" >Begin</button>
    </div>
    <div class="coc_button_div">
        <button class="button-33" role="button">Report</button>
    </div>
    <div class="coc_button_div">
        <button class="button-33" role="button">Privacy</button>
    </div>
    <div class="coc_button_div">
        <button class="button-33" role="button">Settings</button>
    </div>
</div>